/logs
/docs
/src/PangyaServer.identcache
/src/PangyaServer.res
/src/PangyaServer.stat
/src/PangyaServer.dproj.local
/bin/bin
*.iff
*.exe
*.dcu
__history
*.tvsconfig
*.db
debug
howto
*.local
*.stat
*.o
